/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
.shadow2 {
  width: 33%;
  display: inline-block;
  padding: 10px 10px 35px;
}

.shadow1 {
  
  width: 66%;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 3px;
}

.column {
  display: inline-block;
}

.border_right {
  width: 32%;
  float: left;
  padding: 20px;
}
